<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900');</style>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<nav>
{{#if usuario}}
    <img class= "img-usuario" src="../{{usuario}}/user.jpg">
    <p class="saludo">Bienvenido<br><i style="color: rgb(158, 140, 80)">{{usuario}}</i></p>
    <button class = "button-nav" id="home" onclick="window.location.href = '/home'">Home</button><br>
    <button class = "button-nav" id="gallery" onclick="window.location.href = '/seeGallery'">Galería de Discos</button><br>
    <button class = "button-nav" id="upload" onclick="window.location.href = '/subirarchivos?id=0|0'">Subir Discos</button><br>
    <button class = "button-nav" id="logout" onclick="window.location.href = '/logout'">Log Out</button>
    <div class="logo">
        <img style="width: 70px;height:67px;background:none;" src="../img/logo.png">
        <h3 style="font-family: 'Indie Flower', cursive;width: 111px;height:100px;background:none;color:rgb(158, 140, 80)" >Groove And Play</h3>
    </div>
    </nav>
{{else}}
    <button class = "button-nav" id="home" onclick="window.location.href = '/home'">Home</button><br>
    <button class = "button-nav" id="login" onclick="window.location.href = '/'">Log In</button><br>
    <button class = "button-nav" id="signin" onclick="window.location.href = '/registro'">Sign In</button>
    <div class="logo">
        <img style="width: 70px;height:70px;background:none;" class="logo-img" src="../img/logo.png">
        <h3 style="font-family: 'Indie Flower', cursive;width: 111px;height:100px;background:none;color:rgb(158, 140, 80)" >Groove And Play</h3>
    </div>
    </nav>
{{/if}}
{{{body}}}
<div class="contenedor-reproductor">
    <!-- Creo un DIV para guardar el length del playlist que le paso por el metodo GET de / -->
    <div id="playlist-length" style="display:none">{{playlist.length}}</div>
    {{#each playlist}}
        <!-- por cada elemento de playlist Creo un DIV oculto para guardar la url del mismo que tambien paso por el metodo GET de /-->
        <div id="url-audio-{{@index}}" style="display:none">{{this.url}}</div>
        <div id="usuario-audio-{{@index}}" style="display:none">{{this.usuario}}</div>
        <div id="disco-audio-{{@index}}" style="display:none">{{this.disco}}</div>
        <div id="nombre-audio-{{@index}}" style="display:none">{{this.tema}}</div>
    {{/each}}
    <audio class="reproductor-main" id="reproductor-pers"></audio>
    <div>
        <div class="barraCurrent"><h5 class= "current-time" id="currentTime">00:00 </h5><input type="range" id="seek" value="0" max=""/></div><br>
        <div class="identificador-animado">
            <div id="identificador"></div>
        </div>
        
    </div>
    
    
    <div>
        <img class="boton-contenedor-tercero" id="replaybutton" onclick="replay(this,'reproductor-pers')"  style="display:inline-flex; width: 50px; height:50px;" src="../img/replay.png">
        <img class="boton-contenedor-secundario" id="stopbutton" onclick="stop(this,'reproductor-pers')"  style="display:inline-flex; width: 75px; height:75px;" src="../img/stop.png">
        <img class="boton-contenedor-primario" id="playbutton" onclick="playPause(this,'reproductor-pers')"  style="display:inline-flex; width: 100px; height:100px;" src="../img/play.png">
        <img class="boton-contenedor-secundario" id="nextbutton" onclick="next('reproductor-pers')"  style="display:inline-flex; width: 75px; height:75px;" src="../img/next.png">
        <div class="boton-contenedor-mute">
            <img id="mutebutton" class="mute-button" onclick="mute(this,'reproductor-pers')"  style="width: 50px; height:50px;" src="../img/speaker.png">
            
            <input type="range" class="range-volume" id="volume" value="100" max="100"/>
            
        </div>
        
    </div>
</div>
<script>

    //tomo el div que tiene le length de playlist en el innerHTML
    var divLength = document.getElementById("playlist-length")
    //lo parseo a INT para poder usarlo
    var lengthPlaylist = parseInt(divLength.innerHTML);
    //Tomo el elemento que tenga el id "url-audio-*numero random que vaya del 0 al ultimo,
    //gracias al length de playlist que guardé antes*" y tomo el url que tiene en su innerHTML
    var numPlay = 0;
    var url = document.getElementById(`url-audio-${numPlay}`).innerHTML;
    var usuario = document.getElementById(`usuario-audio-${numPlay}`).innerHTML;
    var disco = document.getElementById(`disco-audio-${numPlay}`).innerHTML;
    var nombre = document.getElementById(`nombre-audio-${numPlay}`).innerHTML;
    var rangoVolume = document.getElementById("volume");
    //tomo el reproductor por su id
    var reproductor = document.getElementById("reproductor-pers");
    var identificador = document.getElementById("identificador");
    var barraDespla = document.getElementById("seek");
    var textoID = document.createElement("h5");
    textoID.setAttribute("class","identificador-texto");
    textoID.innerHTML = `${usuario} - ${disco} - ${nombre}`;
    identificador.appendChild(textoID);
    //cambio el source del reproductor por el url que tome dos pasos antes
    reproductor.src = url;
    setTimeout(function(){
        barraDespla.max = reproductor.duration;
    },500)
    rangoVolume.addEventListener("input", function(){
        let valor = (this.value)/100;
        reproductor.volume = valor;
    })
    barraDespla.addEventListener("input", function() {
		reproductor.currentTime = this.value;
	});
    reproductor.addEventListener("timeupdate",function(ev){	  
        document.getElementById("currentTime").innerHTML = hora(reproductor.currentTime); 
        let curtime = parseInt(reproductor.currentTime, 10);
		barraDespla.value = curtime; 
    },true);

    function hora(segundos){
        var d=new Date(segundos*1000);
        var minuto = (d.getMinutes()<10)?"0"+d.getMinutes():d.getMinutes();
        var segundo = (d.getSeconds()<10)?"0"+d.getSeconds():d.getSeconds();
        return minuto+":"+segundo;
    }

    function playPause(btn,aud){
        var audio= document.getElementById(aud);
        
        if(audio.paused){
            audio.play();
            btn.src ="../img/pause.png";
            if (audio.loop == false){
                audio.addEventListener("ended",()=>{
                    next(aud);
                })
            }
            

        }else{
            audio.pause();
            btn.src ="../img/play.png";
        }
    }

    function mute(btn,aud){
        var aud= document.getElementById(aud);
        var vol = document.getElementById("volume");
        if(aud.volume == 0){
            aud.volume = 1;
            vol.value = 100;
            btn.src ="../img/speaker.png";
        }else{
            aud.volume = 0;
            vol.value = 0;
            btn.src ="../img/mute.png";
        }
    }

    function stop(btn, aud){
        var aud= document.getElementById(aud);
        var play = document.getElementById('playbutton');
        if(aud.currentTime > 0){
            aud.currentTime = 0;
            aud.pause();
            play.src = "../img/play.png"
        }
    }

    function replay(btn, aud){
        var aud= document.getElementById(aud);
        if(aud.loop == true){
            aud.loop = false;
            btn.src = "../img/replay.png"
        }else{
            aud.loop = true;
            btn.src = "../img/shuffle.png"
        }
    }

    function next(aud){
        //vuelvo a tomar todo (sino no funciona, no se por qué)
        var btn = document.getElementById("playbutton")
        var repro= document.getElementById(aud);
        var divLength = document.getElementById("playlist-length")
        var lengthPlaylist = parseInt(divLength.innerHTML);
        //creo un url nuevo con otro div oculto que tomo (no logre evitar que tome el mismo de vez en cuando)
        if(numPlay == (lengthPlaylist-1)){
            numPlay = 0;
        }else{
            numPlay++;
        }
        var usuario = document.getElementById(`usuario-audio-${numPlay}`).innerHTML;
        var disco = document.getElementById(`disco-audio-${numPlay}`).innerHTML;
        var nombre = document.getElementById(`nombre-audio-${numPlay}`).innerHTML;
        var identificador = document.getElementById("identificador");
        identificador.innerHTML = '';
        
        var textoID = document.createElement("h5");
        
        textoID.setAttribute("class","identificador-texto");
        textoID.innerHTML = `${usuario} - ${disco} - ${nombre}`;
        identificador.appendChild(textoID);

        repro.src = document.getElementById(`url-audio-${numPlay}`).innerHTML;
        setTimeout(function(){
            barraDespla.max = repro.duration;
        },500)
        playPause(btn,aud)

    }

</script>
</html>